
.submitButton {
     padding: 6px;
     margin-top: 8px;
     margin-left: 22px;
     background: #cfe5a75c;
     border: 2px solid rgba(0, 0, 0, 0.072);
     cursor: pointer;
     text-align: center;
   }
   
   
   #quote {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     top: -82%;
   }
   
   
   #meme {
     display: flex;
     align-items: center;
     background-color: cadetblue;
     height: 350px;
     text-align: center;
     flex-direction: column;
     justify-content: space-evenly;
     width: 200px;
     height: 300px;
     object-fit: cover;
   }
   
   .text {
     background-color: cadetblue;
   }
   
   #save {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     top: -77%;
     text-align: center;
   }
   
   #saved {
     max-height: 250px;
     width: auto;
     display: flex;
     align-items: center;
     justify-content: center;
   }
   
   /* Headings */
   h1 {
     text-align: center;
     padding: 10px;
   }
   
   /* Containers */
   .container {
     border-radius: 5px;
     margin: 5px;
     padding: 15px;
     box-shadow: 0 10px 40px -10px rgba(20, 22, 24, 0.5);
   }
   
   /* Input */
   input {
     padding: 10px;
     border: 1px solid #ddd;
     background: #f9fafc;
     width: 40%;
     font-size: 25px;
     margin-left: 25%;
   }
   
   /* Images */
   .display_images {
     position: relative;
     width: 55%;
     height: 100%;
     margin: 100px auto;
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     grid-gap: 30px;
     text-align: center;
     z-index: 1;
     top: -20%;
   }
   
   .display_images img {
     width: 80%;
     border-radius: 5px;
     height: 300px;
     cursor: pointer;
     position: relative;
     text-align: center;
   }
   
   /* Figure Caption */
   figcaption {
     font-weight: bold;
     font-size: 15px;
   }
   
   /* Text Overlay */
   .text-overlay {
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-weight: bolder;
     font-style: normal;
     font-size: large;
     position: relative;
     top: 51%;
     left: 50%;
     transform: translate(-50%, -50%);
     color: white;
     padding: 10px;
     border-radius: 5px;
     text-align: center;
     z-index: 2;
   }
   
   /* Meme Container */
   .meme-container {
     border-radius: 5px;
     margin: 5px;
     padding: 15px;
     box-shadow: 0 10px 40px -10px rgba(20, 22, 24, 0.5);
     height: 650px;
     width: 80%;
   }
   
   /* Title */
   .title {
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-style: normal;
     text-decoration: underline;
   }

   .create-btn {
    margin-top: 7px;
    margin-right: 7px;
   }
