* {
     background-color:#46ad46;
}

#search {
     font-size: larger;
}

#picture {

}
#qupte {

}
#title {

}
#meme {
     display:flex;
     align-items: center;
     background-color: cadetblue;
     height: 350px;

}